/* color palette */
:root{
    --boolzapp-lighter:#ffffff;
    --boolzapp-lightest:#eaeaea;
    --boolzapp-light:#d8dbd5;
    --boolzapp-dark:#b1b1b1;
    --boolzapp-accent1:#8edafc;
    --boolzapp-accent2:#d5f9ba;
    --boolzapp-primary:#009688;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug .contacts{
    height: 100%;
}
.debug .profile{
    height: 50px;
}

.debug .notifications{
    height: 70px;
}

.debug .search_bar_container{
    height: 35px;

}

.debug .contact{
    height: 70px;
}

.debug .search_bar{
    height: 15px;
}

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-4{
    width: calc((100%/12)*4);
}
.col-6{
    width: calc((100%/12)*6);
}
.col-8{
    width: calc((100%/12)*8);
}
.col-12{
    width: calc((100%/12)*12);
}

.page{
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--boolzapp-light);
    display: flex;
    align-items: center;
}

.app{
    width: 80%;
    margin: auto;
    background-color: rgb(206, 191, 191);
    height: 90%;
}

.contacts{
    border-right: 1px solid;
}

.profile{
    background-color: var(--boolzapp-lightest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;

    & .profile_icon{
        justify-content: flex-end;
        display: flex;
        
    }

    & ul{
        list-style: none;
        display: flex;
        gap: 0.5rem;
    }
}

.notifications{
    background-color: var(--boolzapp-accent1);
}

.search_bar_container{
    background-color: var(--boolzapp-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar{
    width: 95%;
    background-color: var(--boolzapp-lighter);
}

.contact{
    width: 100%;
    background-color: var(--boolzapp-lighter);
    
    
}
.chats{
    overflow: hidden;
}

@media screen and (max-width:1920px){
    
}


@media screen and (max-width:991px){
    .app{
        height: 100vh;
        width: 100vw;
    }

    .icon{
        display: none;
    }

    .notifications{
        display: none;
    }
}


@media screen and (max-width:540px){
    .left-side{
        display: none;
    }
    .col-sm-12{
        width: calc((100%/12)*12);
    }
    .icon-chat{
        display: none;
    }
    .notifications{
        display: none;
    }
}
