/* color palette */
:root{
    --boolzapp-lighter:#ffffff;
    --boolzapp-lightest:#eaeaea;
    --boolzapp-light:#d8dbd5;
    --boolzapp-dark:#b1b1b1;
    --boolzapp-accent1:#8edafc;
    --boolzapp-accent2:#d5f9ba;
    --boolzapp-primary:#009688;

}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page{
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--boolzapp-light);
    display: flex;
    align-items: center;
}

.app{
    width: 80%;
    margin: auto;
    background-color: rgb(206, 191, 191);
    height: 90%;
}