/* color palette */
:root {
    --boolzapp-lighter: #ffffff;
    --boolzapp-lightest: #eaeaea;
    --boolzapp-light: #d8dbd5;
    --boolzapp-dark: #b1b1b1;
    --boolzapp-accent1: #8edafc;
    --boolzapp-accent2: #d5f9ba;
    --boolzapp-primary: #009688;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.debug .contacts {
    height: 100%;
}

.debug .profile {
    height: 50px;
}

.debug .notifications {
    height: 70px;
}

.debug .search_bar_container {
    height: 35px;

}

.debug .chat {
    height: 70px;
}

.debug .search_bar {
    height: 15px;
}

.debug .text_area {
    height: 70px;
}

.full-height {
    height: 100%;
}

.container {
    width: 100%;
}

.container-sm {
    width: 80%;
    padding: 50px 0;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.col-4 {
    width: calc((100%/12)*4);
}

.col-6 {
    width: calc((100%/12)*6);
}

.col-8 {
    width: calc((100%/12)*8);
}

.col-12 {
    width: calc((100%/12)*12);
}

.green {
    background-color: var(--boolzapp-accent2);
}

.white {
    background-color: var(--boolzapp-lighter);
}

img {
    display: block;
    width: 50px;
    border-radius: 50%;
}

body {
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to bottom, rgb(0, 181, 147) 0%, rgb(0, 181, 147) 120px, lightgray 120px, lightgray 100%);

}

.app {
    height: 95vh;
    margin: 1rem auto 2rem;
    max-width: 1200px;
    display: flex;
}

.right_side {
    max-height: 100%;

}

.left-side {

    height: 100%;
    border-right: 1px solid var(--boolzapp-light);
}

.contacts {
    border-right: 1px solid;
}

body {
    max-height: 100vh;
}

.profile {
    background-color: var(--boolzapp-lightest);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;

    & .profile_icon {
        justify-content: flex-end;
        display: flex;
        align-items: center;

    }

    & ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        color: var(--boolzapp-dark);
        font-size: 20px;
    }
}

.notifications {
    background-color: var(--boolzapp-accent1);
    padding: 1rem;
    display: flex;
    align-items: center;

    & .bell {
        background-color: var(--boolzapp-lighter);
        padding: 0.7rem;
        border-radius: 50%;
        color: var(--boolzapp-accent1);
        font-size: 20px;
        margin-right: 1rem;


    }

    & .new_message>a {
        font-size: 14px;
        color: black;
    }

}

.search_bar_container {
    background-color: var(--boolzapp-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_bar {
    width: 95%;
    background-color: var(--boolzapp-lighter);
}

.contact {
    width: 100%;
    background-color: var(--boolzapp-lighter);


}

.chats_list {

    height: calc(100% - 155px);
    overflow-y: scroll;
    background-color: red;


}

.chat {
    background-color: #fff;
    border: 1px solid;
}

.messages {
    background-image: url(../img/mine.jpg);
    height: calc(100% - 120px);

}

.text_area {
    background-color: var(--boolzapp-lightest);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text {
    background-color: var(--boolzapp-lighter);
    width: 70%;
    height: 80%;

}

.message {
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem
}

@media screen and (max-width:1920px) {}


@media screen and (max-width:991px) {
    .app {
        height: 100vh;
        margin: 0;
    }

    .chats_list {
        height: calc(100% - 50px);
    }

    .icon {
        display: none;
    }

    .search_bar_container {
        display: none;
    }

    .notifications {
        display: none;
    }

    .col-md-1 {
        width: calc((100%/12)*1);
    }

    .col-md-11 {
        width: calc((100%/12)*11);
    }

}



@media screen and (max-width:540px) {
    .col-4 {
        display: none;
    }

    .col-sm-12 {
        width: calc((100%/12)*12);
    }

    .icon-chat {
        display: none;
    }

    .search_bar_container {
        display: none;
    }

    .notifications {
        display: none;
    }

    .right_side {
        height: 100vh;
    }
}